.Post-tags {
	margin-bottom: 15px;
}
.Post-title {
	margin-bottom: 15px;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.item-index {
	float: right;
	margin-right: 10px;
	margin-top: 1px;
	font-size: 11px;
}
.dropload-down {
    display: none;
}

.Post-body {
    white-space: pre-wrap;
        margin-bottom: 1em;
}

.Composer-flexible blockquote {
    font-size: inherit;
    border: 0;
    background: #e7edf3;
    color: #667d99;
    border-radius: 4px;
    padding: 8px 15px;
    border-top: 2px dotted #fff;
    border-bottom: 2px dotted #fff;
    margin: 1em 0;
}

.Composer-flexible {
        background-color: #fff;
}
.Composer-flexible:focus {
        border-color: transparent;
}
.liked button{
	color: #f36322;
	cursor:text;
}
    
