.Post-tags {
	margin-bottom: 15px;
}
.Post-title {
	margin-bottom: 15px;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.item-index {
	float: right;
	margin-right: 10px;
	margin-top: 1px;
	font-size: 11px;
}
.dropload-down {
    display: none;
}

.Post-body {
    white-space: pre-wrap;
        margin-bottom: 1em;
}

.Composer-flexible blockquote {
    font-size: inherit;
    border: 0;
    background: #e7edf3;
    color: #667d99;
    border-radius: 4px;
    padding: 8px 15px;
    border-top: 2px dotted #fff;
    border-bottom: 2px dotted #fff;
    margin: 1em 0;
}

.Composer-flexible {
        background-color: #fff;
        padding: 0;
}
.Composer-flexible:focus {
        border-color: transparent;
}
.liked button{
	color: #f36322;
	cursor:text;
}
  
.Composer-flexible {
    white-space: pre-line;
}  
.DiscussionList-discussions .TagLabel.colored .TagLabel-text {
    color: #999 !important;
    font-size: 5px;
    line-height: 10px;
    display: inline-block;
}

.DiscussionList-discussions .TagLabel {
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    padding: .0em .5em;
}
.DiscussionListItem-info > .item-tags {
    opacity: 0.7;
}

@media (min-width: 768px) {
    .DiscussionListItem-author .Avatar {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    font-size: 24px;
    line-height: 48px;
}

.DiscussionListItem-author {
    margin-top: 10px;
    margin-right: 8px;
}
}


.TagLabel {
    font-weight: normal;
}

.TagsLabel .TagLabel {
        border-right: 1px dashed;
    border-color: white;
}
.TagsLabel .TagLabel:first-child {
    border: none;
}
.TagsLabel .TagLabel:last-child {
    border: none;
}
.DiscussionListItem-title {
    display: block;
    padding-right: 38px;
}

.SelectTagListItem-description .TagsLabel .TagLabel {
    border-radius: 4px;
    border: none;
    margin-right: 10px;
}

.SelectTagList > li.active {
    background: #f3f6f9;
}
.SelectTagListItem-description {
    margin-top: 10px;
    display: block;
}